@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }  

  body {
    background-color:#F0E7E1;
    padding: 3rem
  }

  
    


img 
{max-width: 100px; height:auto;}


header {  width: 100%; margin: 0 auto; text-align: center; }
.container-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.skills,
.education,
.experience {
    width: 100;
    background: transparent;
    /* border: 2px solid orangered; */

    
}


.personal-branding-logo { width: 25%;  margin: 0 auto;}
.first-section {
    border: 4px solid black;
    padding: 3rem;
}

.button {
    width: 20em;
    width: 10em;
    border: 1px solid red;
    padding: 1em;
    border-radius: 1em;
    background-color:palevioletred;
}


/*

       ___  __             __        ___  __     ___  __  
 |\/| |__  |  \ |  /\     /  \ |  | |__  |__) | |__  /__` 
 |  | |___ |__/ | /~~\    \__X \__/ |___ |  \ | |___ .__/ 
                                                          

 */


  @media (min-width: 1024px) {
    h2 {
      font-size: 1.5rem;
      font-family:'Itim', cursive;
    }
  }
    body {
      background:#F0E7E1;
      padding: 3rem;
      font-family:'Itim', cursive;;
    }

    header {  width: 70%; }
    .container-box {
        display: flex;
        flex-direction: row;

    }
    
    .skills,
    .education,
    .experience {
        width: 33.3333%;
        background:transparent;
     
    }


